<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
            <div>To do list Container</div>
            <div>Calendar Container</div>
            <div>Bus or Subway(Metro)Container </div>
    </div><!-- col-md-2 -->
    
	<div class="col-md-10">
      <!--Body content-->
      <div class="noteAdd oneNote col-md-2">
        <p class="memo-name">노트 추가 <span ng-bind="left()">0 / 300<span></p>
		<textarea ng-model="message" maxLength="300"></textarea>
		<div class="bottom"></div>
      </div><!-- noteAdd oneNote col-md-2 -->

      <div ng-repeat="phone in phones" class="oneNote col-md-2">
          <p class="memo-name">{{phone.name}}</p>
          <textarea>{{phone.snippet}}</textarea>
		  <div class="bottom"></div>
          <br/>
      </div><!-- oneNote col-md-2 -->
      <!--<ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
              <p>{{phone.snippet}}</p>
            </li>
      </ul>-->
    </div><!-- col-md-10 -->
  
  </div><!-- row -->
</div><!-- container-fluid -->
