<div><!--To do list Start-->
	<div>   
    	<h1>{{appName}}</h1>
	</div>
	<div>
    	<ul class="list-unstyled">
        	<li ng-repeat="todo in todoList" class="checkbox">
            	<input type="CHECKBOX" ng-model="todo.done">
				<span class="todo-{{todo.done}}" ng-if="!todo.editable">{{todo.title}}</span>            	
            	<span><input class="todo-{{todo.done}}" ng-if="todo.editable" ng-model="todo.title"></span>
            	<span><input type="button" ng-click="edit(todo)" value="Edit"></span>
        	</li>
    	</ul>
	</div>
	<p>전체 할 일 <strong>{{todoList.length}}</strong>개 | 남은 할일 <strong>{{remain()}}</strong>개</p>
	<div class="form-group">
    	<input id="titleInput" type="text" class="form-control" name="newItemText" placeholder="새로운 할일" ng-model="newTitle"
        ng-keyup="checkKey($event)"/>
	</div>
	<button type="button" class="btn btn-default" ng-click="addNewTodo(newTitle)">추가</button>
	<button class="btn btn-default" ng-click="archive()">삭제</button>
	<button class="btn btn-default" ng-click="save()">저장</button>
</div> <!--To do list End-->

